<!DOCTYPE html>
<html lang="en">
<head>
 <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>SOFA</title>
    <meta http-equiv="refresh" content="10">

</head>
<body>

  <div class="container px-4 py-5" id="hanging-icons">
    <h2 class="pb-2 border-bottom">S.O.F.A - Smart Operational Fridge App</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="col d-flex align-items-start">
        <div>
          <h4>Température Actuelle</h4>
          <h5>{{temp}}°C</h5>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div>
          <h4>Ingrédients</h4>
            {% for i in ingredient %}
                <p>{% print ("{} : {}").format(i, ingredient[i]) %}</p>
            {%endfor%}
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div>
          <h4>Recette</h4>
          <p>{{ingredient}}</p>
        </div>
      </div>
    </div>
      {% if temp > max_temp %}
        <div class="alert alert-danger" role="alert">
           Attention! La température maximale ne doit pas excéder 25°C
        </div>
      {%endif%}
  </div>

</body>
</html>